body {
    height: 2000px;
    font-family: 'PT Sans';
}

p {

    font-weight: 400;
    margin-left: 32px;
    margin-right: 39px;
    font-size: 12px;
}

.conteiner {
    width: 500px;
    margin: 10% auto;
    position: relative;
}

.pages {
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    width: 523px;
    height: 750px;
}

.marks {
    position: absolute;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    width: 95px;
    height: 31px;
}

#page1 {
    top: 39px;
    background-color: #acacac;
    z-index: 1;
}

#mark1 {
    z-index: 2;
    left: 440px;
    top: 48px;
    background-color: #00aeef;
}

#page2 {
    z-index: 3;
    left: -19px;
    top: 19px;
    background-color: #cccccc;
}

#mark2 {
    z-index: 4;
    position: absolute;
    left: 472px;
    top: 43px;
    background-color: #39b54a;
}

#page3 {
    z-index: 5;
    left: -40px;
    background-color: #ebebeb;
}
#mark3 {
    z-index: 6;
    left: 494px;
    top: 36px;
    background-color: #f68e56;
    width: 107px;
}
h1 {
    margin-left: 41px;
    font-size: 24px;
    color: #333333;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
}



.pages article:last-child {
    width: 207px;
    height: 111px;
    float: left;
    margin-left: 41px;
    margin-right: 21px;


}
/*
.pages:last-child article img{
    margin-left: 6px;
    margin-right: 34px;
    float: right;
    width: 140px;
    height: 140px;
}*/
article:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h2{
  color: #333333;
font-size: 18px;
font-weight: 400;
text-align: left;
}




.page3 h3 p {
    font-size: 18px;
}

figure img {
    width: 194px;
    height: 89px;
}

 figure img:first-child {
    float: left;
}

figure img:last-child {
    float: right;
}

figure:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



h6{
    position: relative;
    bottom: 15px;
    margin-right: 34px;
    font-size: 9px;
    text-align: center;
    font-weight: 400;
}

.share {
    position: fixed;
    right: 0;
    bottom: 0;
    border-width: 1px;
    border-color: #362f2d;
    border-style: solid;
    background-color: #fbaf5d;
    width: 87px;
    height: 69px;
}

.share p {
    font-size: 16px;
    text-align: center;
}

.share img {
    position: relative;
    bottom: 10px;
    width: 79px;
    height: 22px;
    margin-left: 5px;
}
